@{
    ViewData["Title"] = "Criar";
}

    <h1 class="display-4 text-center">Cadastro de contatos</h1>        
<form class="align-items-center justify-content-center">
    <div class="row form-group">
        <div class="col col-lg-6">
            <label>Nome Completo</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Seu nome completo">
        </div>
        <div class="col col-lg-3">
            <label>CPF</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="999.999.999-99">
        </div>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>
